/* body{
    overflow-x: hidden;
} */
.adnsu_link{
    font-size: 2rem;
    color: #1a265c;
    font-weight: 700;
}
.nav_div{
    margin-left: 10rem;
}
.nav_ul{
    font-size: 1.2rem;
    gap: 2rem;
}
.carousel_img{
    width: 40rem;
}
.carousel_img-center{
    width: 50rem;
    margin: 0 auto;
}
.carousel_main-div{
    width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.none_information{
    width: 20rem;
    background-color: #1a265c;
    color: white;
    padding: 15px;
    position: relative; 
    transition: 1s; 
}
.information_close{
    transform: translateX(-1360px);
}
.information_open{
    transform: translateX(0px);
}
.informaton-btn_1{
    width: 20rem;
    padding: 1rem;
    border: none;
    background-color: blueviolet;
    color: white;
}
.information_text{
    margin-top: 20px;
}
.close_information{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: #1a265c;
    color: white;
    font-weight: 900;
}
.information{
    width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 5rem; */
}
.flags{
    display: grid;
    gap: 1rem;
    grid-row: 5rem 5rem;
    transition: 1s;
    z-index: 999999;
}
.flag{
    width: 9.7rem;
}
.info_button{
    width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.country_information{
    width: 20rem;
    background-color: #1a265c;
    
    transition: 1s;
}
.country_information-rotate_right{
    transform: translateX(1360px);
}
.country_information-rotate{
    transform: translateX(0px); 
}
.flag_rotate{
    transform: translateX(480px); ;
}
.information{
    overflow-x: hidden;
}
.student_info{
    display: flex;
}

